*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #e1d4c9;
  padding: 0 40px;
}

.accent {
  font-style: italic;
  color: #b0907a;
}

.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button, .hero-section__btn {
  text-decoration: none;
  padding: 20px 0;
  color: inherit;
  line-height: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section__btn {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #403f3d;
  background-color: #e1d4c9;
}

.slider-section {
  text-align: center;
  position: relative;
  padding-bottom: 44px;
}
.slider-section__title {
  color: #403f3d;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  word-wrap: break-word;
  margin-bottom: 40px;
}
.slider-section .slider-control {
  width: 144px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.slider-section .slider-control__item {
  width: 40px;
  height: 4px;
  background-color: #c1b6ad;
  border-radius: 100px;
}
.slider-section .slider-control__item--active {
  background-color: #665f55;
}

.slider-container {
  width: 100%;
  height: 640px;
  position: relative;
}
.slider-container .arrow {
  position: absolute;
  color: #665f55;
  padding: 18px;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #665f55;
  border-radius: 50%;
  cursor: pointer;
}
.slider-container .arrow:hover {
  background-color: rgb(215.8928571429, 198.9464285714, 184.6071428571);
}
.slider-container .arrow-back {
  background-image: url(../../img/icons/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  left: 0;
}
.slider-container .arrow-forward {
  background-image: url(../../img/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  right: 0;
}
.slider-container .slide {
  color: #403f3d;
  position: absolute;
  display: none;
  width: 480px;
  height: 640px;
  left: 50%;
  transform: translateX(-50%);
}
.slider-container .slide--active {
  display: block;
}
.slider-container .slide__picture {
  width: 480px;
  height: 480px;
  object-fit: cover;
  margin-bottom: 20px;
}
.slider-container .slide__caption {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 16px;
}
.slider-container .slide__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}
.slider-container .slide__price {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header .logo {
  width: 100px;
}
.header .nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .nav__item {
  display: inline-block;
}
.header .nav__item:not(:last-child) {
  margin-right: 40px;
}
.header .nav__link, .header .menu {
  text-decoration: none;
  color: #403f3d;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.header .menu {
  display: flex;
  gap: 8px;
}
.header .menu::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../../img/icons/coffee-cup.svg);
}

.home-main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.hero-section {
  background-image: url(img/img-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px;
  border-radius: 40px;
}
.hero-section__text-box {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero-section__title {
  color: #e1d4c9;
  font-size: 72px;
  font-weight: 600;
  line-height: 75.6px;
  word-wrap: break-word;
}
.hero-section__text {
  color: #e1d4c9;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.about__headline {
  color: #403f3d;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
}
.about__images {
  display: grid;
  height: 1060px;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.about__images .pic-1 {
  grid-column: 1/2;
}
.about__images .pic-3 {
  grid-row: 1/2;
  grid-column: 2/4;
}
.about__images .pic-4 {
  grid-row: 2/4;
  grid-column: 2/3;
}

/*# sourceMappingURL=style.css.map */
