$color-primary: #e1d4c9;
$color-secondary: #665f55;
$color-text-dark: #403f3d;
$color-text-accent: #b0907a;
$color-border-light: #c1b6ad;

$heading-primary: 72px;
$heading-secondary: 60px;
$heading-tertiary: 24px;
$heading-accent: italic;

$font-size-large: 32px;
$font-size-normal: 16px;
$font-size-small: 10px;

$font-weight-regular: 400;
$font-weight-bold: 600;
