.hero-section {
  background-image: url(../img/img-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px;
  border-radius: 40px;

  &__text-box {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__title {
    color: $color-primary;
    font-size: 72px;
    font-weight: 600;
    line-height: 75.6px;
    word-wrap: break-word;
  }

  &__text {
    color: $color-primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.about {
  &__headline {
    color: $color-text-dark;
    font-size: $heading-secondary;
    font-weight: $font-weight-bold;
    line-height: 75px;
    letter-spacing: -0.5px;
    margin-bottom: 40px;
  }

  &__images {
    display: grid;
    height: 1060px;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .pic-1 {
      grid-column: 1 / 2;
    }

    .pic-3 {
      grid-row: 1/2;
      grid-column: 2/4;
    }

    .pic-4 {
      grid-row: 2/4;
      grid-column: 2 / 3;
    }
  }
}
